# 1. Functions

**Python built-in functions**

**Challenge**

Một học viên sẽ không được tham dự kì thi nếu họ không đi học >= 25% số buổi. Nhưng nếu học viên đó nghỉ có lý do về sức khỏe thì vẫn được thi.
Viết chương trình python để kiểm tra xem 1 học viên có được thi hay không?

In [45]:
# print() function

print("This is a python print function")

This is a python print function

In [46]:
# int, float, list, dict, etc

int(12.34)

12

In [4]:
# functiosn from packages
import math

math.sqrt(100)
# See all associated methods of math package
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

## User-defined functions

**Formula**

`def` function_name(param1, param2, paramn):<br>
    code body <br>
    `return` result

In [42]:
# Write a function to calculate an area of a square
def squareArea(a,b):
    ketqua=a*b
#     print(ketqua)
    return ketqua

In [43]:
squareArea(20,20)

400

In [5]:
# Similarly
def squareArea(a,b):
    ketqua =a*b
    print(ketqua) # It does not save the ketqua, can't be used later. 
# print out the result
squareArea(10,20)

200

In [129]:
# Write a function to calculate a total of a list

def plus(n):
    total =0
    for i in n:
        total+=i
    return total

plus([1,2,3,4,5])

15

**Task**

Write a function to calculate the number of lowercase letters and upper case letters in a following string.

Sample string:"Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. String has many methods and number such as 1, 2 , 3, 78 can be string."

**Positional arguments, default arguments**

In [53]:
# Positional arguments

def minus(a,b):
    ketqua=a-b
    return ketqua
minus(4,2) # positional argument
minus(b=4,a=2) # keyword argument

-2

In [56]:
# Default argument

def minus(a,b=10):
    ketqua = a-b
    return ketqua
# minus(2) # positional argument

# minus(3,5) # positional argument

minus(a=9,b=20) # keyword argument

-11

- `*args` and `**kwargs`

**Non-keyword argument** `*args`

In [59]:
# If we don't know how many parameters to pass on the function, we can use *args. It also called non-keyword ảgument
# *args returns a tuple
def total(*args):
    ketqua=0
    for i in args:
        ketqua+=i
    return ketqua
total(1,2,3,4,1,1,2,2,2,2,2,2,2,2,2) # Can't pass a list.

30

In [61]:
# Another example
def studentScore(student, *score):
    print(f"Student: {student}")
    print(score)
#     for i in score:
#         print(i)
studentScore("Tuyen",1,2,3,3)

Student: Tuyen
(1, 2, 3, 3)

In [29]:
text=""" 
Write a function addEvenNumber() such that it can accept a variable length of argument, 
and can add all even arguments value and display I want to know about this question can somebody 
will explain me how to do it?? Naahahahhadhdh """

# count=0
# for i in text:
#     if i.isalpha():
#         print(i)
#         count+=1
# count

def counter(text):
    lower_count=0
    upper_count=0
    for i in text:
        if i.isalpha():
            if i.isupper():
                upper_count+=1
            else:
                lower_count+=1
            
            
    return [lower_count, upper_count]
       
counter(text)

[181, 5]

**Keyword argument** `**kwargs`

In [64]:
def myFun(**kwargs):
    print(kwargs)
    
myFun(first="Ha",last="Nguyen", number=10) # return a dictionary

{'first': 'Ha', 'last': 'Nguyen', 'number': 10}

**Lambda Function**

`lambda` param1,param2,etc: code body

In [66]:
def plus(a,b):
    print(a+b)
plus(1,2)

3

In [77]:
# Write a lambda to plus two numbers

plus=lambda a,b: a+b

plus(2,3)

5

In [80]:
mzip=zip(list1,list2)
list(mzip)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

**Zip function**

In [78]:
list1=range(5)
list2=range(5)
mzip=zip(list1,list2)
for x,y in mzip:
    ketqua=plus(x,y)
    print(ketqua)

0
2
4
6
8

**Map and filter**

`Map` and `filter` is used as alternative for `for loop`. Some examples below illustrates its use.

**Map**

Formula

map(function,iterable) return an iterator object

In [95]:
mlist=[1,2,3,4,4,4.23,23.76]
# Convert all values in mlist to be float type
a=map(int, mlist)

b=list(a)
# ketqua=map(float, mlist)
# # Access it values
# print(list(ketqua))

In [39]:
mlist=range(9000000)

def random(pythonList):
    dlist=[]
    for i in pythonList:
        ketqua=i*2
        dlist.append(ketqua)
    return dlist

In [42]:
def nhan(x):
    ketqua=x*2
    return ketqua
map(nhan, mlist)

In [97]:
nhan=lambda x: x*10

a=map(nhan, mlist)
list(a)

[10, 20, 30, 40, 40, 42.300000000000004, 237.60000000000002]

**filter**

filter(function, iterable)

In [101]:
mlist=[1,2,3,4,5,54]
ham1=lambda x: x<5
myFilter=filter(ham1, mlist)

list(myFilter)

[1, 2, 3, 4]

In [130]:
# Alternatively 
def ham2(x):
    if x<5:
        return True
    else:
        return False

In [131]:
a=filter(ham2, mlist)

list(a)

[1, 2, 3, 4]

**Challenge** 

Viết hàm trong python để nhập vào 1 chuỗi và tính số ký tự in hoa, in thường trong chuỗi. <br>
S= “This is Python Class at NIIT Ha Noi”<br>

# 2. Class

**Class Creation**

In [61]:
# Write a class to do some calculations

class Computation():
    class_variable=3 # Class variable 
    def __init__(self, x,y):
        self.x=x # instance variable 
        self.y=y
        
    def plus(self):
        ketqua=self.x+self.y
        return ketqua
    def minus(self, other):
        ketqua=self.x-self.y*other
        return ketqua
    def multiply(self):
        ketqua=self.x*self.y*self.class_variable
        return ketqua
test=Computation(x=9,y=10) # Instance of a class 

test.y
# test.plus()

# test.minus(10)

# test.multiply()

10

**Class Inheritance**

In [57]:
class Subclass(Computation):
    def __init__(self, x, y, z):
        super().__init__(x,y)
#         Computation.__init__(self,x,y)
        self.z=z
    def plus1(self):
        ketqua=self.x+self.y+self.z
        return ketqua
test1=Subclass(1,2,4)

test1.plus1()

test1.plus()
# # test1.minus(10)

# test1.class_variable=5

# test1.multiply()

3

# Exercies Practice

Some of the exercises in this notebook taken from internet sources, mainly at [w3resource.com.]()

**1.** Create a function that can accept two arguments name and age and print its value

In [2]:
def student():
    name=input("Please enter your name: ")
    age=int(input("Please enter your age: "))
    print(f"Name: {name}, Age: {age}")
        
student()

Please enter your name: Ha Van Tuyen
Please enter your age: 30
Name: Ha Van Tuyen, Age: 30

**2.** Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call.

In [4]:
def calculation(a,b):
    sub=a-b
    plus=b+a
    return sub, plus
calculation(10,10)

(0, 20)

**3**. Return the largest item from the given list.

mlist=[1,4,6,7,8,9,3,4,5,6]

In [13]:
mlist=[1,4,6,7,8,9,3,4,5,6]

max_value=0

for i in mlist:
    if i>max_value:
        max_value=i
max_value

9

In [21]:
mlist=[1,4,6,7,8,9,3,4,5,6]

**4.** Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

**5.** Write a Python function to remove and print every third number from a list of numbers.

**6**. Write a Python program to count the number of each character of a given text of a text file.

"""
Write a function addEvenNumber() such that it can accept a variable length of argument,
and can add all even arguments value and display
I want to know about this question can somebody will explain me how to do it??
"""

**7.** Write a Python program to get all possible two digit letter combinations from a digit (1 to 9) string.

**8**. Write a Python class to implement pow(x, n)

**9**. Write a Python class to find the three elements that sum to zero from a set of n real numbers. <br>
Input array : [-25, -10, -7, -3, 2, 4, 8, 10] <br>
Output : [[-10, 2, 8], [-7, -3, 10]]

In [58]:
# A Python program to print all
# combinations of given length
from itertools import combinations
# given list
mlist=[-25, -10, -7, -3, 2, 4, 8, 10]
comb = combinations(mlist, 3)

# Print the obtained combinations
for i in list(comb):
    print(i)

(-25, -10, -7)
(-25, -10, -3)
(-25, -10, 2)
(-25, -10, 4)
(-25, -10, 8)
(-25, -10, 10)
(-25, -7, -3)
(-25, -7, 2)
(-25, -7, 4)
(-25, -7, 8)
(-25, -7, 10)
(-25, -3, 2)
(-25, -3, 4)
(-25, -3, 8)
(-25, -3, 10)
(-25, 2, 4)
(-25, 2, 8)
(-25, 2, 10)
(-25, 4, 8)
(-25, 4, 10)
(-25, 8, 10)
(-10, -7, -3)
(-10, -7, 2)
(-10, -7, 4)
(-10, -7, 8)
(-10, -7, 10)
(-10, -3, 2)
(-10, -3, 4)
(-10, -3, 8)
(-10, -3, 10)
(-10, 2, 4)
(-10, 2, 8)
(-10, 2, 10)
(-10, 4, 8)
(-10, 4, 10)
(-10, 8, 10)
(-7, -3, 2)
(-7, -3, 4)
(-7, -3, 8)
(-7, -3, 10)
(-7, 2, 4)
(-7, 2, 8)
(-7, 2, 10)
(-7, 4, 8)
(-7, 4, 10)
(-7, 8, 10)
(-3, 2, 4)
(-3, 2, 8)
(-3, 2, 10)
(-3, 4, 8)
(-3, 4, 10)
(-3, 8, 10)
(2, 4, 8)
(2, 4, 10)
(2, 8, 10)
(4, 8, 10)

In [ ]:
[1,2,3]

12
13
23

**10**. Write a Python function that takes a list and returns a new list with unique elements of the first list.

**11**. Write a Python class to create and print a list where the values are square of numbers between 1 and 30 (both included).