# 1. Try and Except

`Try` and `Except` statement is used to handle these errors within our code in Python. 

    try:
        # Some Code
    except:
        # Executed if error 
        # try block
    else:
        # execute if no exception
    finally:
        # Some code .....(always executed)

In [13]:
# Write a simple try and except statement

try:
    2/0
except:
    print("Can't divide by 0")
else:
    print("It will print out the result if no exception")
finally:
    print("It always print out this line/ always execute this line.")

Can't divide by 0
It always print out this line/ always execute this line.

In [19]:
# Write a try and except statement 

def division(a,b):
    try:
        ketqua=a/b
#         print(ketqua)
        return ketqua
    except:
        print("Error occurred. Can't divide by 0")
#     else:
#         print(f"{a} divided by {b} is {ketqua:.2f}")
#     finally:
#         print("Well-done!")

In [21]:
a=division(222,19)
a

11.68421052631579

# 2. Datetime in Python

`Datetime` provides three classes that are widely used. 

`datetime.date`, `datetime.time`, `datetime.datetime`

In [1]:
import datetime as dt

**Date**

In [22]:
# Create a date
date=dt.date(year=2021, month=2, day=23)

date

datetime.date(2021, 2, 23)

In [27]:
date=dt.date(2021,8,12)
print(date)

2021-08-12

In [30]:
# Access date attributes
date.day
date.year
date.month

8

**Time**

In [31]:
# Create time
time=dt.time(hour=13,minute=11,second=23)
print(time)

13:11:23

In [34]:
# Access time attributes
time.hour
time.minute
time.second

23

**Datetime**

In [24]:
# Create a datetime 

datetime=dt.datetime(2020,12,23,10,10,10)
# More readable
datetime=dt.datetime(year=2020,month=12,day=23,hour=10,minute=10,second=10)

datetime

datetime.datetime(2020, 12, 23, 10, 10, 10)

**Other handy functions**

`date.today()`, `datetime.now()`, and `datetime.combine()`

In [35]:
# datetime today

today=dt.date.today()
today

datetime.date(2021, 8, 22)

In [28]:
# Datetime now
now=dt.datetime.now()
now

datetime.datetime(2021, 8, 8, 21, 32, 21, 966184)

##### Convert datetime to string

Please see [this website](https://www.programiz.com/python-programming/datetime/strftime) for more converting code.

In [36]:
today=dt.date.today() 
print(today)

2021-08-22

In [37]:
type(today)

datetime.date

In [38]:
date_string=dt.datetime.strftime(today,"%Y-%m-%d")

print(date_string)

2021-08-22

##### Convert datetime string to datetime

**Formula**

datetime.datetime.strptime(date_string, format_string)


    date_string = "01-31-2020 14:45:37" 
    format_string = "%m-%d-%Y %H:%M:%S"

In [42]:
date_string="2021-8-9 12:30:40"

date=dt.datetime.strptime(date_string,"%Y-%m-%d %H:%M:%S")

date

datetime.datetime(2021, 8, 9, 12, 30, 40)

## Timedelta

In [26]:
time_day=dt.timedelta(days=11) # weeks

today=dt.date.today()
today.year

2021

In [46]:
next_15days=today+time_day

print("Next 15 days:",next_15days)

Next 15 days: 2021-09-02

In [23]:
for i in range(1,10):
    days=dt.timedelta(days=i)
    date=dt.date(year=2019, month=2, day=23)
    ketqua=date-days
    print(ketqua)

2019-02-22
2019-02-21
2019-02-20
2019-02-19
2019-02-18
2019-02-17
2019-02-16
2019-02-15
2019-02-14

**Challenge 1**

Create a list of string date, starting from today until next 20 days consecutive.

In [3]:
today=dt.date.today()

delta=dt.timedelta(days=1)

**Challenge 2** 

Convert today date into string datetime and vice versa.

**Challenge 3**

Create a dictionary with key=month and list of days in each month.

# Exercise Practice

**1**. Write a Python program to convert a string to datetime.

String datetime: Jan 1 2014 2:43PM

**2**. Write a Python program to get the current time in Python.

3. Viết một chương trình Python để output là ngày tiếp theo của input là ngày,tháng, năm đã cho bất kỳ.

**4**. Write a Python program to subtract five days from current date.

**5**. Write a Python program to convert Year/Month/Day to Day of Year

**6**. Write a Python program to select all the Sundays of a specified year.

**7**. Write a Python program to print simple format of time, full names and the representation format and preferred date time format.

Sample: Tuesday, 04/13/21 April 2021 12:02:01 + 0000

**8**. Write a program to check if a file is exist/ read a certain file extension, if not print error.

**9**. Write a program to catch errors when dividing numbers.

**10**. Write a function to perform a task of your interest integrating `try` and `except` statement in your function.